<a href="https://colab.research.google.com/github/Hari-Priya-18/B6_PFDS_1372/blob/main/Lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Step 1: Create a sample sales dataset with duplicates
data = {
    "Transaction_ID": [101, 102, 103, 103, 104, 105, 105],
    "Product": ["Laptop", "Phone", "Tablet", "Tablet", "Headphones", "Monitor", "Monitor"],
    "Amount": [80000, 20000, 30000, 30000, 5000, 15000, 15000]
}

sales_df = pd.DataFrame(data)
print("Original Sales Dataset:\n", sales_df)

# Step 2: Count duplicates
duplicate_count = sales_df.duplicated().sum()
print("\nNumber of duplicates before cleaning:", duplicate_count)

# Step 3: Remove duplicates
clean_sales_df = sales_df.drop_duplicates()

# Step 4: Count duplicates after removal
duplicate_count_after = clean_sales_df.duplicated().sum()
print("Number of duplicates after cleaning:", duplicate_count_after)

print("\nCleaned Sales Dataset:\n", clean_sales_df)

Original Sales Dataset:
    Transaction_ID     Product  Amount
0             101      Laptop   80000
1             102       Phone   20000
2             103      Tablet   30000
3             103      Tablet   30000
4             104  Headphones    5000
5             105     Monitor   15000
6             105     Monitor   15000

Number of duplicates before cleaning: 2
Number of duplicates after cleaning: 0

Cleaned Sales Dataset:
    Transaction_ID     Product  Amount
0             101      Laptop   80000
1             102       Phone   20000
2             103      Tablet   30000
4             104  Headphones    5000
5             105     Monitor   15000

In [2]:
import pandas as pd

# Step 1: Create dataset with wrong data types
data = {
    "Employee_ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Salary": ["50000", "60000", "70000"],       # Stored as string
    "Joining_Date": ["2022-01-15", "2021-05-10", "2023-03-20"]  # Stored as string
}

employee_df = pd.DataFrame(data)
print("Original Data Types:\n", employee_df.dtypes)

# Step 2: Convert Salary to numeric
employee_df["Salary"] = pd.to_numeric(employee_df["Salary"])

# Step 3: Convert Joining_Date to datetime
employee_df["Joining_Date"] = pd.to_datetime(employee_df["Joining_Date"])

print("\nConverted Data Types:\n", employee_df.dtypes)
print("\nProcessed Employee Dataset:\n", employee_df)

Original Data Types:
 Employee_ID      int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Converted Data Types:
 Employee_ID              int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Processed Employee Dataset:
    Employee_ID     Name  Salary Joining_Date
0            1    Alice   50000   2022-01-15
1            2      Bob   60000   2021-05-10
2            3  Charlie   70000   2023-03-20