<a href="https://colab.research.google.com/github/Hari-Priya-18/B6_PFDS_1372/blob/main/Lab_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv
with open("Student_scores.csv","w",newline="") as f:
  wr=csv.writer(f)
  wr.writerow(["Student_Id","Name","Maths","Science","English"])
  wr.writerow(["101","Hari",80,70,75])
  wr.writerow(["102","Priya",65,75,85])
  wr.writerow(["103","Sindhu",75,75,85])
  wr.writerow(["104","Nayana",65,85,85])
  wr.writerow(["105","Nithya",85,75,65])

In [3]:
import pandas as pd
df=pd.read_csv("Student_scores.csv")
print(df)

   Student_Id    Name  Maths  Science  English
0         101    Hari     80       70       75
1         102   Priya     65       75       85
2         103  Sindhu     75       75       85
3         104  Nayana     65       85       85
4         105  Nithya     85       75       65

In [4]:
df["Maths"].fillna(df["Maths"].mean(), inplace=True)
df["Science"].fillna(df["Science"].mean(), inplace=True)
df["English"].fillna(df["English"].mean(), inplace=True)

print("\nData after filling missing values:")
print(df)

Data after filling missing values:
   Student_Id    Name  Maths  Science  English
0         101    Hari     80       70       75
1         102   Priya     65       75       85
2         103  Sindhu     75       75       85
3         104  Nayana     65       85       85
4         105  Nithya     85       75       65

/tmp/ipython-input-1658899097.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Maths"].fillna(df["Maths"].mean(), inplace=True)
/tmp/ipython-input-1658899097.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Science"].fillna(df["Science"].mean(), inplace=True)
/tmp/ipython-input-1658899097.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["English"].fillna(df["English"].mean(), inplace=True)

In [6]:
high_achievers = df[(df["Maths"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]

print("\nHigh Achievers (All subjects > 75):")
print(high_achievers)

High Achievers (All subjects > 75):
Empty DataFrame
Columns: [Student_Id, Name, Maths, Science, English]
Index: []